<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button 
			class="md-icon-button"
			aria-label="LeftMenu"
			ng-click="openLeftMenu()"
		>
			<md-icon class="material-icons">menu</md-icon>
		</md-button>
		<h2>
			<span>Todos with angular</span>
		</h2>
	</div>
</md-toolbar>

<md-sidenav md-component-id="left">
	<md-toolbar class="md-theme-light">
		<div class="md-toolbar-tools">
			<md-button 
				class="md-icon-button"
				aria-label="LeftMenu"
				ng-click="openLeftMenu()"
			>
				<md-icon class="material-icons">clear</md-icon>
			</md-button>
			<h2>
				<span>Sidebar Left</span>
			</h2>
		</div>
	</md-toolbar>
	<md-list class="action-list">
		<md-list-item 
			ng-click="addTodoList()"
		>
			<md-icon class="material-icons">add</md-icon>
			<div class="md-list-item-text">Add new list</div>
		</md-list-item>
		<md-list-item 
			ng-click="clearAllTodoList()"
			ng-disabled="!models.todoLists.length"
		>
			<md-icon class="material-icons">clear_all</md-icon>
			<div class="md-list-item-text">Remove all lists</div>
		</md-list-item>
	</md-list>
</md-sidenav>

<md-content class="md-padding" layout-align="center start">
	<div layout="row" layout-wrap>
		<div 
			ng-repeat="list in models.todoLists track by $index"
			layout="column"
			flex="50" flex-lg="33" flex-xs="100"
			dnd-list="models.todoLists"
			dnd-allowed-types="models.allowedTypes"
		>
			<md-card
				dnd-draggable="list"
				dnd-moved="models.todoLists.splice($index, 1)"
				dnd-effect-allowed="move"
				dnd-type="list.type"
			>
				<md-card-header>
					<md-card-header-text>
						<h1 
							class="md-title" 
							ng-if="!list.editLabel"
							ng-click="editLabel(list)"
						>
							{{list.label}}
						</h1>
						<md-input-container
							ng-if="list.editLabel"
						>
							<label>List title</label>
							<md-icon 
								class="material-icons"
								ng-click="saveLabel(list)"
							>
								done
							</md-icon>
							<input ng-model="list.label">
						</md-input-container>
					</md-card-header-text>
					<md-menu>
						<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
							<md-icon class="material-icons">more_vert</md-icon>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item>
								<md-button
									ng-click="editLabel(list)"
								>
									<md-icon class="material-icons" md-menu-align-target>edit</md-icon>
									Edit title
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button
									ng-click="copyItem(list, models.todoLists)"
								>
									<md-icon class="material-icons" md-menu-align-target>content_copy</md-icon>
									Copy list
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button
									ng-click="deleteItem(models.todoLists, $index)"
								>
									<md-icon class="material-icons" md-menu-align-target>delete</md-icon>
									Delete list
								</md-button>
							</md-menu-item>
							
							<md-menu-item>
								<md-button 
									ng-click="clearList(list)"
									ng-disabled="!list.items.length"
								>
									<md-icon class="material-icons">clear_all</md-icon>
									Clear list
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</md-card-header>
				<md-card-content 
					dnd-list="list.items"
					dnd-allowed-types="list.allowedTypes"
				>
					<md-button 
						ng-click="addNewRow(list)"
						ng-if="!list.items.length"
					>
						Add new row
					</md-button>
					<md-card 
						ng-repeat="item in list.items track by $index"
						dnd-draggable="item"
						dnd-moved="list.items.splice($index, 1)"
						dnd-effect-allowed="move"
						dnd-type="item.type"
					>
						<md-card-content>
							<div 
								ng-hide="item.editContent"
								ng-click="editContent(item)"
							>
								{{item.content}}
							</div>
							<md-input-container 
								class="md-block"
								ng-if="item.editContent"
							>
								<label>Description</label>
								<md-icon 
									class="material-icons"
									ng-click="saveContent(item)"
								>
									done
								</md-icon>
								<textarea ng-model="item.content" columns="1"></textarea>
							</md-input-container>
							<md-card-actions 
								layout="row" layout-align="end center"
								ng-if="item.editContent"
							>
								<md-button 
									class="md-icon-button"
									aria-label="Copy row"
									ng-click="copyItem(item, list.items)"
								>
									<md-icon class="material-icons">content_copy</md-icon>
								</md-button>
								<md-button 
									class="md-icon-button"
									aria-label="Delete row"
									ng-click="deleteItem(list.items, $index)"
								>
									<md-icon class="material-icons">delete</md-icon>
								</md-button>
							</md-card-actions>
						</md-card-content>
					</md-card>
					<md-card-actions layout="row" layout-align="end center">
						<md-button 
							class="md-icon-button"
							aria-label="Add new row"
							ng-click="addNewRow(list)"
						>
							<md-icon class="material-icons">add</md-icon>
						</md-button>
					</md-card-actions>
				</md-card-content>
			</md-card>
		</div>
	</div>
	{{model.todoLists}}
	<div class="lock-size main-action">
		<md-button 
			class="md-fab md-primary md-hue-2"
			ng-click="addTodoList()"
		>
			<md-icon aria-label="Add new todo list" class="material-icons">add</md-icon>
		</md-button>
	</div>
</md-content>