@import '../../../node_modules/angular-material/angular-material.scss';

.main-action{
	position: fixed;
	right: 1em;
	bottom: 1em;
	z-index: 3;
}

.action-list{
	md-list-item{
		@extend .md-button;
		
		display: block;
		margin: 0;
		padding: 0;
		
		md-icon.material-icons,
		.md-list-item-inner md-icon.material-icons{
			display: inline-block;
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 6px;
			margin-left: 0;
			vertical-align: middle;
		}
		.md-list-item-text{
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.dndDraggingSource {
	display: none;
}
.dndPlaceholder {
	display: block;
	background-color: #ddd;
	min-height: 42px;
}